*.pyc
Editor/pini/errorout.txt
Editor/pini/ERROR_LOG.txt
Editor/pini/parser.out
Editor/pini/parsetab.py
Editor/pini/atl.so
Editor/pini/tempSave
proj.sublime-workspace
*.apk
*.sdf
*.db
*.opensdf
.vs/
NONE

Engine/VisNovel/frameworks/runtime-src/proj.android/bin/
Engine/VisNovel/frameworks/android-extension/google-play-services_lib/bin/
Engine/VisNovel/frameworks/android-extension/play_apk_expansion/downloader_library/bin/
Engine/VisNovel/frameworks/android-extension/play_apk_expansion/zip_file/bin
Engine/VisNovel/frameworks/android-extension/play_licensing/library/bin
Engine/VisNovel/frameworks/cocos2d-x/cocos/platform/android/java/bin
Engine/VisNovel/frameworks/runtime-src/proj.android/assets/src
Engine/VisNovel/frameworks/runtime-src/proj.android/obj
Debug.win32/
Release.win32/
Engine/VisNovel/frameworks/runtime-src/proj.win32/Debug.win32/libcocos2d.pdb
Engine/VisNovel/frameworks/runtime-src/proj.win32/Debug.win32/libluacocos2d.lib
gen/